body {
    background-image: url(../images/futureRetroLandscape.jpg);
    background-size: cover;
}

textarea, select, input, button { 
    outline: none; 
}

#gameWindowWrite {
    background-color: black;
    color: #34e326;
    border-bottom: 0px !important;
}

#gameWindowRead {
    background-color: black;
    color: #34e326;
    border: none;
    border-top: 0px !important;
}

#aboutSection {
    background-color: black;
    color: #34e326;
}

#aboutSection a {
    color: #FF2BA9;
}

.footerFixer {
    min-height: calc(100vh - 208px);
}